@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,700,700i");

* {
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  font-family: "Josefin Sans", sans-serif;
  overflow-x: hidden;
  font-size: 14px;
}

.navBar {
  display: flex;
  padding: 20px;
  width: 100vw;
  color: #000;
  background-color: #fff;
  position: fixed;
  z-index: 2000;
}

.navBar__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.navBar__item--input {
  width: 100%;
  height: 44px;
  font-size: 14px;
  border-radius: 50px;
  border: none;
  padding: 0 19px;
  background: #f0f0f0;
}
.navBar__item--input:focus {
  outline: none;
}

.navBar__item--right {
  display: flex;
  justify-content: center;
}

.navBar__item--right__item {
  margin: 0 10px;
}

header nav a {
  color: #000;
}

.flex-1 {
  flex-grow: 1;
}
.flex-2 {
  flex-grow: 2;
}
.flex-4 {
  flex-grow: 4;
}
